.pagination {
  display: flex;
  column-gap: 40rem;
  justify-content: center;
  margin-top: 0.5rem;
  z-index: 1;
}
.page-link {
  background-image: linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  color: black;
  font-size: 1.5rem;
}
