.cup > ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 4rem;
  list-style: none;
  align-items: center;
  justify-items: center;
  margin-bottom: -2.15rem;
  gap: 2rem;
}

.cup-item {
  width: 14.5rem;
  height: 14.5rem;
  transition: 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: 14.5rem 14.5rem;
}

.cup > ul > li > .cup-item:hover {
  background-color: rgb(105, 105, 105);
  border-color: #ff00d4;
  transform: translate(0.5rem, 0.5rem);
  box-shadow: -0.5rem -0.5rem rgb(184, 184, 184);
}
.cup-cont {
  position: relative;
  top: -2.2rem;
  font-size: 1rem;
  width: 14rem;
  text-align: center;
  font-weight: bolder;
}
.cup-cont > span {
  color: black;
}

#Cup-100ml-chocolate {
  z-index: -1;
  background-image: url("../amul-pdts/100ml/Cup-Choco-Chips.jpg"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
}
#Cup-100ml-butter-scotch {
  z-index: -1;
  background-image: url("../amul-pdts/100ml/Cup-Butterscotch-Bliss.jpg"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
}
#Cup-100ml-kesar-pista {
  z-index: -1;
  background-image: url("../amul-pdts/100ml/Cup-Kesar-Pista-Royale.jpg"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
}
#Cup-100ml-vanilla {
  z-index: -1;
  background-image: url("../amul-pdts/100ml/Cup-Vanilla-Royale.jpg"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
}
#Cup-100ml-alphonso {
  z-index: -1;
  background-image: url("../amul-pdts/100ml/Cup-Alphonso-Mango.jpg"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
}
#Cup-65ml-green-pista {
  z-index: -1;
  background-image: url("../amul-pdts/100ml/green pista 65ml.png"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
}
#Cup-55ml-strawberry {
  z-index: -1;
  background-image: url("../amul-pdts/100ml/Cup-Strawberry-55ml.jpeg"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
}
#Cup-55ml-vanilla {
  z-index: -1;
  background-image: url("../amul-pdts/100ml/Cup-Vanilla-Royale-55ml.jpeg"),
    linear-gradient(#ae8625, #f7ef8a, #d2ac47, #edc967);
}

@media (width <= 768px) {
  .cup > ul {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
  }
}
@media (1440px >= width >=1024px) {
  .cup > ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
  }
}

@media (769px <= width <= 890px) {
  .cup-item {
    height: 12rem;
    width: 12rem;
    background-size: 12rem;
  }
}

@media (width <= 425px) {
  * {
    font-size: 8px;
  }
  .cup > ul {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
  }
  .cup-item {
    width: 20rem;
    height: 20rem;
  }
  .cup-cont {
    position: relative;
    top: -2.9rem;
    left: 3rem;
    color: white;
    font-size: initial;
  }
  .cup-cont > span {
    font-size: initial;
    font-weight: bold;
  }
  #Cup-100ml-chocolate,
  #Cup-100ml-butter-scotch,
  #Cup-100ml-kesar-pista,
  #Cup-100ml-vanilla,
  #Cup-100ml-alphonso,
  #Cup-65ml-green-pista,
  #Cup-55ml-strawberry,
  #Cup-55ml-vanilla {
    background-size: 20rem 20rem;
  }
}
