* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  align-items: center;

  min-height: 40rem;
  color: white;
}
.wrapper {
  display: inline-flex;
}
.second-elt>li {
  list-style: none;
  position: relative;
  top: 0;
  animation: slide 10s steps(40) infinite;
}
.first-elt {
  font-size: 3rem;
}
span {
  font-size: 3rem;
  font-weight: 500;
  position: relative;
}
.second-elt li span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #0b0b0b, #353535);
  background-repeat: no-repeat;
  border-left: 3px solid black;
  animation: typing 1.5s steps(14) infinite;
}
.second-elt {
  margin-left: 10px;
  height: 70px;
  line-height: 60px;
  /* overflow: hidden; */
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 -35px;
  }
}

@keyframes slide {
  100% {
    top: -100%;
  }
}
