* {
  margin: 0%;
  padding: 0cap;
  box-sizing: border-box;
}

label {
  color: white;
}
textarea {
  resize: none;
  color: black;
}
input {
  color: black;
}
.sign-up {
  display: flex;
  flex-direction: column;
}
